<template>
	<section class="tab-wrap">
		<div j-each-tab="tabs" class="tabs">
			<div class="tab">
				<div j-text="tab.name"></div>
			</div>
		</div>
		<div j-each-tab="tabs" class="panels">
			<div class="panel">
				<div j-html="tab.body"></div>
			</div>
		</div>
	</section>
</template>

<script src="/assets/js/model.js"></script>

<script>
	Jenie.component({
		name: "view-index",
		template: "template",
		model: Jenie.services.tabModel,
		created: function () {
			var element = this.element;

			var tabs = element.querySelectorAll('.tab');
			var panels = element.querySelectorAll('.panel');
			tabs[0].classList.add('active');
			panels[0].classList.add('active');
			var oldIndex = 0;
			function tabHandler () {
				tabs[i].addEventListener('click', function () {
					var index = this.getAttribute('data-index');

					tabs[oldIndex].classList.remove('active');
					tabs[index].classList.toggle('active');
					panels[oldIndex].classList.remove('active');
					panels[index].classList.toggle('active');

					oldIndex = index;
				});
			}
			for (var i = 0; i < tabs.length; i++) {
				tabs[i].setAttribute('data-index', i);
				tabHandler();
			}
		}
	});
</script>
